@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main.pai {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(110, 74, 238), rgb(108, 77, 221), rgb(118, 90, 218), rgb(131, 103, 235));
    display: flex;
    align-items: center;
    justify-content: center;
}

div.item {
    border-radius: 20px;
    width: 80vw;
    height: 450px;
    background-color: rgb(58, 57, 57);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.664);
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

div.item  h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.89);
    margin: 30px 0px 30px 0px;
}

div.imput {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 20px;
}

div.email, div.senha {
    position: relative;
}

input[type="email"], input[type="password"] {
    height: 40px;
    width: 70vw;
    border-radius: 20px;
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 40px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.363);
    font-size: 16px;
    cursor: pointer;
    
}

div.email > .material-symbols-outlined, div.senha > .material-symbols-outlined {
    position: absolute;
    bottom: 6px;
    font-size: 28px;
    padding-left: 10px;
}

#nome_caixa {
    font-size: 12px;
    color: white;
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
    margin-right: 7px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-shadow: 0px 0px 3px black;
}

a:hover {
    text-decoration: underline;
}

div.coisas {
    width: 70vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

div.juntos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

input[type="button"] {
    height: 40px;
    width: 70vw;
    /*width: 352px;*/
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 99, 248);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.349);
    cursor: pointer;
    font-size: 16px;
}

a.new {
    position: absolute;
    bottom: 30px;
    align-self: center;
    font-size: 14px;
}
