@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main.pai {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(110, 74, 238), rgb(108, 77, 221), rgb(118, 90, 218), rgb(131, 103, 235));
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

div.item {
    border: 1px solid white;
    width: 80vw;
    height: 600px;
    
}

div.item > h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.89);

}

div.imput {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    gap: 10px;
    
}

div.email, div.senha {
    position: relative;
}

input[type="email"], input[type="password"] {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 40px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.363);
    font-size: 16px;
}

div.email > .material-symbols-outlined, div.senha > .material-symbols-outlined {
    position: absolute;
    bottom: 6px;
    font-size: 28px;
    padding-left: 10px;
    
}

#nome_caixa {
    font-size: 12px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

div.coisas {
    display: grid;
}
